.glyphicons:before {
    padding: 3px !important;
}

.xcrud-top-actions {
  width:100%;
  text-align: right;
  margin-bottom: 10px;
}

.xcrud-view > .form-horizontal > .form-group > label{
  text-align: left;
}


.titolo {
  color:#428bca;
  border:0px;
  margin-top:0px;
}

.color-btn-primary,
.color-btn-primary > li > a:hover,
.color-btn-primary li > a:focus {
  background-color: #428bca !important;
  border-color: #357ebd !important;
}

.color-btn-primary,
.color-btn-primary > li > a{
  color: #ffffff;
}

.color-btn-primary > li > a:hover,
.color-btn-primary li > a:focus {
  color: #000000;
}


hr {
  border: 1px solid #aaaaaa;
}

.font-button-schede{
  font-size:large;
  padding-left: 2px;
  padding-right: 2px;
}

.colonne-strette
{
  padding-right: 10px;
  padding-left: 10px;
}

.btn-grey {
  color: #333333;
  background-color: #eeeeee;
  border-color: #cccccc;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #333333;
  background-color: #aaaaaa;
  border-color: #adadad;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #ffffff;
  border-color: #cccccc;
}