﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="datipaziente.ascx.cs" Inherits="datipaziente" %>
<asp:Panel ID="pn_paziente" runat="server" CssClass="blocco_dati">
    <asp:Label ID="lb_nome_paziente" runat="server" Text=""> </asp:Label><asp:Label ID="lb_dati" runat="server" Text=""></asp:Label>
    <br /><br />
    <asp:Label ID="lb_quadri" runat="server" Text=""></asp:Label>
</asp:Panel>
