﻿BODY {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/bg_blueGrad.gif); VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Sans-Serif; BACKGROUND-COLOR: #324671
}
.bodyCopy {
	FONT: 11px/15px Verdana, sans-serif; COLOR: #777777; TEXT-ALIGN: justify
}
a.link_grid {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link_grid:hover {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link_grid:visited {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link_grid:visited:hover {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.link:visited:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.Pallamano {
	COLOR: #bfdcff; TEXT-DECORATION: none
}
a.Pallamano:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.Pallamanofoot {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.Pallamanofoot a {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.Pallamanofoot a:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.PallamanoTitoloBlocco {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.PallamanoTitoloBlocco:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.PallamanoTitoloBlocco:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.PallamanoTitoloBlocco:visited:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.linksmall {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.linksmall:hover {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.linksmall:visited {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.linksmall:visited:hover {
	FONT-SIZE: 11px; COLOR: #1478eb; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.PallamanoCompact {
	FONT-SIZE: 11px; COLOR: #000; text-decoration:none; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
a.PallamanoCompact:hover {
	FONT-SIZE: 11px; COLOR: #000; text-decoration:underline; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.titolo_step
{
    background-color: #B5C7DE;
    color: #324671;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 0px 5px 0px;
    font-weight: bold;
}
.titolo_sezione
{
    background-color: #324671;
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
.blocco_dati
{
    background-color: #EFF3FB;
    border: solid 1px #B5C7DE;
    text-align:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px;
    height: 120px;
    margin-bottom: 10px;
    color:#324671;
}
.hr
{
	border-bottom:solid 4px #B5C7DE;
	padding-bottom:2px;
	margin-bottom:0px;
	margin-top:0px;
}

.modernbricksmenu{
    padding: 0;
	margin-top: 1px;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

.modernbricksmenu ul{
    font: bold 13px Arial;
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

.modernbricksmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

.modernbricksmenu a{
    float: left;
    display: block;
    color: white;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #006699; /*Default menu color*/
    border-bottom: 1px solid white;
    
    text-align: center;
    width: 100px !important;
    width /**/: 100px;
}

.modernbricksmenu a:hover{
    background-color: #324671; /*Menu hover bgcolor*/
}

.modernbricksmenu .current a{ /*currently selected tab*/
    background-color: #324671; 
    border-color: #324671;
}

.modernbricksmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    background-color: #324671;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 34px;
}

.modernbricksmenuline ul{
    font: normal 11px Arial;
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

.modernbricksmenuline li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
}

.modernbricksmenuline a{
    float: left;
    display: block;
    color: white;
    margin: 0 2px 0 0; /*Margin between each menu item*/
    padding: 2px 0;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #006699; /*Default menu color*/
    
    text-align: center;
    width: 100px !important;
    width /**/: 100px;
}

.modernbricksmenuline a:hover{
    background-color: #324671; /*Menu hover bgcolor*/
}

.modernbricksmenuline .current a{ /*currently selected tab*/
    background-color: #99FFCC; 
    border-color: #99FFCC; 
}

.modernbricksmenuline .invisibile a{
    display: none;
}

.ToolText{position:relative; }
.ToolTextHover{position:relative;}
.ToolText div{display: none;}
.ToolTextHover div
{
    display:block;
    position:absolute;
    top:8px;
    left:-125px;
    color: white;
    padding: 3px;
    background-color: #006699;
    border: 1px solid #324671;
    text-align: left;
    width: 120px !important;
    width /**/: 120px;
}

.ToolTextDati{position:relative; }
.ToolTextDatiHover{position:relative;}
.ToolTextDati div{display: none;}
.ToolTextDatiHover div
{
    display:block;
    position:absolute;
    top:20px;
    left:0px;
    color: white;
    padding: 3px;
    background-color: #006699;
    border: 1px solid #324671;
    text-align: left;
}

.quadri_clinici{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-top:10px;
}

.quadri_clinici ul{
    font: bold 12px Arial;
    margin:0;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}

.quadri_clinici li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
}

.quadri_clinici a{
    float: left;
    display: block;
    color: #324671;
    margin: 0 10px 10px 0; /*Margin between each menu item*/
    padding: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #EFF3FB; /*Default menu color*/
    border: 1px solid white;
    border-color: #B5C7DE;
    text-align: center;
    width: 100px !important;
    width /**/: 100px;
}

.quadri_clinici a:hover{
    background-color: #B5C7DE; /*Menu hover bgcolor*/
}

.quadri_clinici .current a{ /*currently selected tab*/
    background-color: #B5C7DE; 
    border-color: #B5C7DE;
}

.menu_step{
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-bottom: 10px;
}
.menu_step ul{
    font: bold 12px Arial;
    margin:0;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}
.menu_step li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
}
.menu_step span{
    float: left;
    display: block;
    color: #324671;
    margin: 0 1px 10px 0; /*Margin between each menu item*/
    padding: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid white;
    text-align: center;
    width: 100px !important;
    width /**/: 100px;
    background-color: #EFF3FB; 
    border-color: #B5C7DE;
}

.menu_step .current span{ /*currently selected tab*/
    background-color: #B5C7DE; 
    border-color: #B5C7DE;
}

.div_reset
{
    float:right;
}
.div_reset a:hover
{
    color:#ffffff;
    font-size:11px;
    font-weight:normal;
    text-decoration:underline;
}
.div_reset a:link, .div_reset a:visited
{
    color:#ffffff;
    font-size:11px;
    text-decoration: none;
    font-weight:normal;
}
.div_reset a:hover
{
    color:#ffffff;
    font-size:11px;
    font-weight:normal;
    text-decoration:underline;
}

.titolo_blocco{
	background-color: #006699;
	color: #ffffff;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	padding: 2px 0px 2px 0px;
	font-weight: bold;
}

a.titolo_blocco_link {color: #ffffff; text-decoration: none;font-weight: bold;}
a.titolo_blocco_link:link {color: #ffffff; text-decoration: none}
a.titolo_blocco_link:visited {color: #ffffff; text-decoration: none}
a.titolo_blocco_link:hover {color: #ffffff; text-decoration: none}

.blocco_statistiche{
	background-color: #FFFFFF;
	color: #666666;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px 0px 10px 0px;
    width: 202px !important;
    width /**/: 202px;
	border: 1px solid #006699;
}

.blocco_statistiche_big{
	background-color: #FFFFFF;
	color: #666666;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px 0px 10px 40px;
	border: 1px solid #006699;
	width: 500px !important;
    width /**/: 540px;
    float:left;
    display: inline;
}

.sottoblocco_statistiche{
	background-color: #EFF3FB;
	color: #666666;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 180px !important;
    width /**/: 200px;
	margin: 0px 10px 10px 10px;
	border: 1px solid #B5C7DE;
}
.sottoblocco_statistiche_150{
	background-color: #EFF3FB;
	color: #666666;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px 5px 10px 0px;
	border: 1px solid #B5C7DE;
	width: 115px !important;
    width /**/: 120px;
    float:left;
    display: inline;
}

.titolo_sottoblocco{
	background-color: #B5C7DE;
	color: #ffffff;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	padding: 2px 0px 2px 0px;
	font-weight: bold;
}

.div_dx{	

    margin-right:20px;
    width: 200px !important;
    width /**/: 220px;
    float:right;
    display: inline;
}
.dati_generali{
	background-color: #EFF3FB;
	color: #666666;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 478px !important;
    width /**/: 498px;
	margin: 10px;
	border: 1px solid #B5C7DE;
}
